<html>
<link href="/css/style.css" rel="stylesheet" type="text/css">
<body>
  <div class="hero">
    <div class="form-box2">
      <p class="register">Login</p>
      <div class="partials"><%- include ('./partials/messages') %></div>
      <form class="input-group login" action="/users/login" method="POST">
      <div>
      <label for="email">Email</label>
      <input
        class="input-field"
        type="email"
        name="email"
        placeholder="Enter Email"
      />
      </div>
      <div>
          <label for="password">Password</label>
          <input
            class="input-field"
            type="password"
            name="password"
            placeholder="Enter Password"
          /> <br><br>
        
      </div>
      <button type="submit" class="btn btn-primary btn-block submit-btn">Login</button>
      <p class="have_account">Need an account? <a href="/users/register">Register</a></p>
      </form>
    </div>
  </div>
</body>
</html>